.dossier {
  width: 40vw;
  height: 100vh;
  margin-top: 2px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 0 3vw 2vw 2vw;

  color: white;
  background: rgba(0, 0, 0, 0.3);
}

.dossier__header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.25em 0 1.5em;
}

.dossier__header h3 {
  margin: 0;
}

.dossier__explanation {
  flex-basis: 100%;
}

.dossier__close {
  appearance: none;
  background: none;
  border: 0;
  font-size: 2em;
  color: #C0BEBB;
}

.dossier__passport {
  background: #332D25;
  margin-left: 1vw;
  padding: .5vh 2vw;
  display: flex;
  flex-flow: row wrap;
}

.dossier__passport h4 {
  margin-top: .75em;
}

.dossier__photo {
  max-height: 12.5em;
  max-width: 9.375em;
  height: auto;
  width: auto;
  margin-left: -3vw;
  margin-top: -3vh;
}

.dossier__awards {
  display: flex;
  flex-flow: row nowrap;
  margin-left: -1.5vw;
  margin-top: 1em;
}

.dossier__award {
  position: relative;
}

.dossier__award:hover > .dossier__tooltip {
  display: block;
}

.dossier__awards img {
  max-width: 3em;
  max-height: 3em;
  height: auto;
  width: auto;
}

.dossier__tooltip {
  display: none;
  position: absolute;
  padding: .5em .75em;
  width: 12em;
  text-align: center;
  background: rgb(251, 212, 119);
  border-radius: .25em;
  color: black;
  left: calc(50% - 6em);
  top: calc(-100% - 1.5em);
}

.dossier__tooltip:after {
  position: absolute;
  content: '';
  left: calc(50% - 15px);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid rgb(251, 212, 119);
}

.dossier__tooltip p {
  margin: 0;
}

.dossier__passport-filters {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-left: 2vw;
}

.dossier__passport-filters p {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1em;
  margin-left: 2em;
}

.dossier__passport-filters button,
.dossier__birthDeath button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 1em 0;
  appearance: none;
  background: 0;
  border: 0;
  padding: 0;
}

.dossier__passport-filters button svg,
.dossier__birthDeath button svg {
  fill: rgba(255, 255, 255, 0.2);
  height: 1em;
  width: auto;
  transition: all 120ms ease-in-out;
}

.dossier__passport-filters button.active svg,
.dossier__birthDeath button.active svg {
  fill: rgb(251, 212, 119);
}

.dossier__filter-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-left: 1em;
}

.dossier__filter-text span {
  text-align: left;
}


.dossier__passport-filters p {
  margin-top: 0;
}

.dossier__birthDeath {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.dossier__birthDeath h5 {
  font-size: 1.25em;
  display: inline-flex;
  align-items: center;
  margin-bottom: .5em;
  font-weight: 400;
}

.dossier__birthDeath h5 img {
  max-height: 1em;
  width: auto;
  margin-right: .5em;
}

.dossier__label {
  color: rgb(251, 212, 119);
  font-size: .7em;
  font-family: 'Avenir', --apple-system, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: .35em;
}

.dossier__label ~ span {
  font-size: 1em;
  color: white;
}
