.legend {
  display: flex;
  padding: 1em 0;
  font-family: Avenir, --apple-system, sans-serif;
  font-size: 0.8em;
}

.legend__definition {
  display: inline-flex;
  align-items: center;
  margin-right: 2em;
}

.legend__image {
  margin-right: 1em;
  max-height: 1em;
}
