.legend {
  display: flex;
  padding: 1em 0;
}

.legend__definition {
  display: inline-flex;
  align-items: center;
  margin-right: 2em;
}

.legend__image {
  margin-right: 1em;
  max-height: 1.25em;
}
