.manipulation {
  align-self: flex-start;
  min-width: 100vw;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  color: white;
  padding: 0 1vw 1.5em;
  position: relative;
}

.manipulation:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: calc(100% - 4vw);
  background: linear-gradient(to left, transparent 0%, rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 0.6) 80%, transparent 100%);
}

.manipulation__filters {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;

  background: #332D25;
  position: absolute;
  bottom: calc(-80vh - 2px);
  left: 0;
  padding: 2vw 4vw;
  width: 100vw;
  height: 80vh;
  z-index: 1;
}

.manipulation__filters .close {
  appearance: none;
  border: 0;
  background: transparent;
  margin-left: auto;
  font-size: 1em;
  color: #fff;
}

.manipulation__filterbuttons {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-right: 4vw;
}

.manipulation__filterbuttons:last-of-type {
  margin-right: 0;
}

.manipulation__filterbuttons h4 {
  margin-bottom: 1.5em;
}

.manipulation__filterbuttons button {
  appearance: none;
  background: none;
  border: 0;
  color: white;
  font-size: 1.2em;
  margin-bottom: .75em;
}

.manipulation__filterbuttons button:hover {
  text-decoration: underline;
}

.activeFilters {
  margin: 0 1em;
  color: #C0BEBB;
}

.activeFilters p {
  margin-bottom: .5em;
}

.activeFilters ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.activeFilters li {
  margin-right: 1em;
  color: white;
}

.activeFilters li:last-of-type {
  margin-right: 0em;
}

.activeFilters button {
  appearance: none;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1em;
  padding: .5em 1em;
  border-radius: .25em;
}

.activeFilters .remove {
  border: 0;
  background: 0;
  color: rgba(210, 0, 0, 1);
  padding: 0.25em;
}

.activeFilters .reset {
  border: 1px solid rgba(210, 0, 0, 1);
  background: rgba(210, 0, 0, 0.1);
}
