.manipulation {
  align-self: flex-start;
  min-width: 100vw;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  color: white;
  padding: 0 0 1.5em;
  position: relative;
}

.manipulation:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: calc(100% - 4vw);
  background: linear-gradient(to left, transparent 0%, rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 0.6) 80%, transparent 100%);
}

.manipulation__filters {
  display: flex;
  align-items: flex-start;
  background: #332D25;
  position: absolute;
  bottom: calc(-80vh - 2px);
  left: 0;
  padding: 2vw 4vw;
  width: 100vw;
  height: 80vh;
  z-index: 1;
}

.manipulation__filterbuttons {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.manipulation__filterbuttons button {
  appearance: none;
  background: none;
  border: 0;
  color: white;
  font-size: 1em;
  margin-bottom: .5em;
}

.reset {
  position: absolute;
  bottom: 2vw;
  right: 2vw;
}
