.manipulation {
  align-self: flex-start;
  min-width: 100vw;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  color: white;
  padding: 0 1vw 1.5em;
  position: relative;
}

.manipulation:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: calc(100% - 4vw);
  background: linear-gradient(to left, transparent 0%, rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 0.6) 80%, transparent 100%);
}

.manipulation__sorting {
  margin: 0 0 0 1vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  padding-right: 1em;
  border-right: 1px solid white;
}

.manipulation__sorting p {
  margin-bottom: 0.5em;
  color: #C0BEBB;
}

.manipulation__sorting-icon {
  margin-right: .5em;
}

.sorting__select {
  /*appearance: none;*/
  font-family: Avenir, --apple-system, sans-serif;
  font-weight: 400;
  display: block;
  background: transparent;
  border: 0;
  font-size: 1em;
  color: white;
  padding: .5em 1em;
  border-radius: .25em;
  cursor: pointer;
}

.manipulation__filters {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  background: #332D25;
  position: absolute;
  bottom: calc(-80vh - 2px);
  left: 0;
  padding: 2vw 4vw;
  width: 100vw;
  height: 80vh;
  z-index: 1;
}

.manipulation__filterbuttons-close {
  appearance: none;
  border: 0;
  background: transparent;
  margin-left: auto;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.6);
}

.manipulation__filterbuttons-close:hover {
  color: rgba(255, 255, 255, 0.8);
}

.manipulation__filterbuttons-close:active {
  color: rgba(255, 255, 255, 1);
}

.manipulation__filterbuttons {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-right: 4vw;
}

.manipulation__filterbuttons:last-of-type {
  margin-right: 0;
}

.manipulation__filterbuttons h4 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.manipulation__filterbuttons button {
  appearance: none;
  background: none;
  border: 0;
  color: white;
  font-size: 1.2em;
  margin-bottom: .75em;
  padding: 0;
  text-align: left;
  font-family: 'Avenir', --apple-system, sans-serif;
}

.manipulation__filterbuttons button:hover {
  text-decoration: underline;
  text-decoration-color: #FBD477;
}

.manipulation__filterbuttons button:active {
  color: #FBD477;
}

.manipulation__active-filters {
  display: inline-flex;
  flex-flow: row nowrap;
  margin: 0 1.5em;
  color: #C0BEBB;
}

.manipulation__active-filters p {
  margin-bottom: .5em;
}

.manipulation__active-filters__icon {
  margin-right: .5em;
}

.manipulation__active-filters ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.manipulation__active-filters li {
  margin-right: 1em;
  color: white;
}

.manipulation__active-filters li:last-of-type {
  margin-right: 0em;
}

.manipulation__active-filters button {
  font-family: Avenir, --apple-system, sans-serif;
  appearance: none;
  border: 0;
  background: transparent;
  color: white;
  font-size: 1em;
  padding: .5em .25em;
  border-radius: .25em;
}

.manipulation__active-filter button {
  padding: .5em 1em;
  transition: all 80ms ease-in-out;
  background: rgba(255, 255, 255, 0.1);
}

.manipulation__active-filter button:hover {
  background: rgba(255, 255, 255, 0.3);
}

.manipulation__active-filter button:active {
  color: #333;
  background: rgba(255, 255, 255, 0.8);
}

.manipulation__active-filter-remove {
  margin-left: .5em;
}

.manipulation__add-filter span {
  display: inline-block;
  transform: rotate(0.25turn);
  margin-left: .25em;
  font-family: --apple-system;
  color: rgba(251, 212, 119, 1);
}

.manipulation__active-filters-icon {
  margin-right: 1em;
}

.manipulation__active-filters-reset button {
  padding: .5em 1em;
  border: 0;
  background: rgba(210, 0, 0, 0.1);
}

.manipulation__active-filters-reset button:hover {
  background: rgba(210, 0, 0, 0.3);
}

.manipulation__active-filters-reset button:active {
  background: rgba(210, 0, 0, 0.8);
}
