.lines {
  width: 80vw;
  flex: 1 0 auto;

  display: flex;
  flex-flow: column nowrap;

  padding: 0 2vw;
  color: white;
}

.legend {
  display: flex;
  padding: 1em 0;
}

.legend__definition {
  display: inline-flex;
  align-items: center;
  margin-right: 2em;
}

.legend__image {
  margin-right: 1em;
  max-height: 1.25em;
}

.lines__visualisation {
  flex: 1;
  display: flex;
  padding-bottom: 2vw;
}

.lines__visualisation .war {
  fill: rgb(255, 0, 0);
  mix-blend-mode: soft-light;
}
