.lines {
  width: 70vw;
  flex: 1 0 auto;

  display: flex;
  flex-flow: column nowrap;

  padding: 0 2vw;
  color: white;
}

.legend {
  display: flex;
  padding: 1em 0;
}

.legend__definition {
  display: inline-flex;
  align-items: center;
  margin-right: 2em;
}

.legend__image {
  margin-right: 1em;
  max-height: 1.25em;
}

.lines__visualisation {
  flex: 1;
  display: flex;
  padding-bottom: 2vw;
  position: relative;
}

.lines__line {
  stroke-width: 1;
  stroke: white;
}

.axis {
  position: fixed;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 0%, #29241C 30%);
  padding-left: 2vw;
}

.axis .domain {
  opacity: 0;
}

.axis .tick line {
  stroke: white;
}

.axis .tick text {
  fill: white;
  font-size: 1.5em;
  font-family: --apple-system, 'Segoe UI', sans-serif;
}

.lines__visualisation .war {
  fill: rgb(255, 0, 0);
  mix-blend-mode: soft-light;
}
