.container {
  background: url(./clouds.png) no-repeat center,
              radial-gradient(circle, rgba(251, 212, 119, 0.1) 0%, rgba(63, 55, 39, 0) 40%),
              #29241C;
  background-blend-mode: overlay, normal, normal;
  background-size: cover, contain, cover;

  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.visualisation {
  flex: 1;

  display: flex;
  flex-flow: row nowrap;
  position: relative;
  overflow-x: none;
}

.header {
  min-width: 100vw;
  max-width: 100vw;
  align-self: flex-start;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  padding-left: 2vw;
}

.header__title {
  text-align: center;
  color: white;
  font-size: 2em;
  margin: 1em 0;
}

.header__title span {
  font-weight: 400;
}
