.event {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;

  background: url(./clouds.png) no-repeat center,
              radial-gradient(circle, rgba(251, 212, 119, 0.1) 0%, rgba(63, 55, 39, 0) 40%),
              #29241C;
  background-blend-mode: overlay, normal, normal;
  background-size: cover, contain, cover;
}

.event__container {
  display: flex;
  flex-flow: column nowrap;
  padding: 5vh 5vw;
  min-width: 100vw;
  min-height: 100vh;
  background-size: 50vw;
  background-position: 35vw 20vh;
  background-repeat: no-repeat;
}

.event__close {
  border: 0;
  background: transparent;
  color: white;
  font-size: 3em;
  align-self: flex-end;
}

.event__title {
  color: rgb(251, 212, 119);
  font-weight: 800;
}

.event__story {
  font-size: 1.5em;
  max-width: 25em;
  color: white;
  line-height: 1.5;
}
