.introduction {
  background: url(./images/introduction-background.png) no-repeat center,
              url(./images/clouds.png) no-repeat center,
              radial-gradient(circle, rgba(251, 212, 119, 0.1) 0%, rgba(63, 55, 39, 0) 40%),
              #29241C;
  background-blend-mode: normal, overlay, normal, normal;
  background-size: auto, cover, contain, cover;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.introduction__title {
  color: white;
  font-size: 5em;
  text-align: center;
  margin-bottom: 0;
}

.introduction__title span {
  font-weight: 400;
}

.introduction__subtitle {
  color: rgba(251, 212, 119, 1);
  font-size: 2em;
  letter-spacing: 1px;
  margin-bottom: .5em;
  margin-top: 0;
}

.introduction__explanation {
  font-size: 1.25em;
  max-width: 40em;
  color: white;
  text-align: center;
}

.button.button--introduction {
  box-shadow: inset 0 -3px rgba(0, 0, 0, 0.3);
  font-size: 1.5em;
  padding: .75em 2em;
  transition: box-shadow 200ms ease-in-out;
}

.button.button--introduction:hover {
  background: rgba(251, 212, 119, 1);
  box-shadow: 0 0 .5em rgba(251, 212, 119, 1);
}
