.introduction {
  background: url(./introduction-background.png) no-repeat center,
              url(./clouds.png) no-repeat center,
              radial-gradient(circle, rgba(251, 212, 119, 0.1) 0%, rgba(63, 55, 39, 0) 40%),
              #29241C;
  background-blend-mode: normal, overlay, normal, normal;
  background-size: auto, cover, contain, cover;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.introduction__title {
  color: white;
  font-size: 5em;
  font-weight: 400;
}

.introduction__subtitle {
  color: rgba(251, 212, 119, 1);
  font-size: 1.75em;
  letter-spacing: 1px;
}

.button--introduction {
  box-shadow: inset 0 -3px rgba(0, 0, 0, 0.3);
}
