@font-face {
  font-family: Scala;
  src: url('fonts/scala-bold.woff2') format('woff2'),
       url('fonts/scala-bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
    font-family: Scala;
    src: url('fonts/scala.woff2') format('woff2'),
         url('fonts/scala.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Avenir;
    src: url('fonts/avenir-book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Avenir;
    src: url('fonts/avenir-heavy.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Scala, Georgia, serif;
  line-height: 1.45;
  font-feature-settings: 'kern', 'liga', 'clig';
  font-variant: common-ligatures;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  font-family: Scala, Georgia, serif;
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 5.063em;
}

h2 {
  font-size: 3.375em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.5em;
}

.button {
  display: inline-block;
  padding: .75em 1.5em;
  background-color: rgba(251, 212, 119, 1);
  color: #29241C;
  text-decoration: none;
  border-radius: .25em;
  transition: all 120ms linear;
}

.button:hover {
  background-color: red;
}
