body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', --apple-system, 'Segoe UI', sans-serif;
  line-height: 1.45;
  font-feature-settings: 'kern', 'liga', 'clig';
  font-variant: common-ligatures;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  font-family: 'Georgia', --apple-system, 'Segoe UI', 'Helvetica Neue', sans-serif;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 5.063em;
}

h2 {
  font-size: 3.375em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.5em;
}

.button {
  display: inline-block;
  padding: .75em 1.5em;
  background-color: rgba(251, 212, 119, 1);
  color: #29241C;
  text-decoration: none;
  border-radius: .25em;
  transition: all 120ms linear;
}

.button:hover {
  background-color: red;
}
